@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap');

body {
background: linear-gradient(from right to left, #C33764, #1D2671);
background-repeat:no-repeat;
font-family: 'Exo 2', sans-serif;
background-attachment: fixed;
}
h1 {
text-align: center;
font-size: 50px;
color: #ffffff;
background: multi-point(#FF5F6D, #FFC371);
border-radius: 50px;
}
ul {
font-size: 20px;
list-style-type: none;
  }
nav {
width: 99%;
height: 70px;
background-color: #301934;
top: 10px;
position: absolute;
border-radius: 50px;
object-align: center;
}

.nav btn {
text-align: center;
font-size: 40px;
color: #ffffff;
background-color: #301934;
border-radius: 50px;
}
h2 {
text-align: center;
font-size: 20px;
color: #ffffff;
display: inline;
}


  

